*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* body {
    margin: 0;
    padding: 0;
} */

.app-loader {

    min-height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 18px;

    background: linear-gradient(135deg,
            #4f46e5,
            #7c3aed,
            #9333ea);

    color: white;
}

.loader-ring {

    width: 70px;
    height: 70px;

    border: 6px solid rgba(255, 255, 255, 0.2);

    border-top: 6px solid white;

    border-radius: 50%;

    animation: spin 0.8s linear infinite;
}

.app-loader h2 {

    font-size: 32px;

    font-weight: 700;
}

.app-loader p {

    opacity: 0.8;

    font-size: 16px;
}

@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}